:root {
  --main-color: #0A3641;
}

body {
font-family: 'open sans';
}
a {
  text-decoration: none;
  color: var(--main-color);
}
html {
  overflow-x: hidden;
  color: var(--main-color);
}
h1 {
  width: max-content;
}
h1,h2,h3 {
  color: var(--main-color);
}
/*---------------HEADER--------------*/ 
/*Header-top*/
.logo {
  height: 4em;
  position: relative;
}
.header-top {
  padding: 0.2em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-right {
  display: flex;
  gap: 1em;
}
.search-menu {
  display: flex;
  gap: 1em;
  width: 35em;
  align-items: center;
}
.search-bar {
  border: var(--main-color) solid 1px;
  height: 1.8em;
  width: 90%;
  border-radius: 2px;
}
.search-bar:focus-visible {
  color: var(--main-color);
}
.fa-solid, .fas {
  font-size: 1.3rem;
  padding: 0.5em;
}
.fa-solid:hover, .fas:hover {
  background: var(--main-color);
  color: #fff;
  border-radius: 4px;
}
/*NAV*/ 
nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: calc(100% + 2em);
  left: -1em;
  }
nav ul {
    padding-left: 0;
    width: 100%;
    background: var(--main-color);
    padding: 0.5em;
}
nav ul li {
    display: inline;
}
nav ul li a {
  padding: 0.5em;
  color: #fff;
  font-size: 1.2rem;
}
nav ul li a:hover {
  text-decoration: underline;
}
/* NAV small screen */

.hamburger-menu {
  display: none;
  height: 2em;
  top: 0.5em;
  background: #fff;
  position: relative;
}
.hamburger-menu::after, .hamburger-menu::before {
  content: "";
  position: absolute;
  width:2em;
  border-bottom: 4px solid var(--main-color);
}
.hamburger-menu::after {
  top: 0.7em;
}
.hamburger-menu ul {
  position: absolute;
  display: none;
  left: 0%;
  top:100%;
}
/*-------------MAIN----------------*/
.background-photo {
  background: url(../Images/lake-rain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30em;   
  width: calc(100% + 2em);
  position: relative;
  left:-1em;
}
/*Sale buttton */
.sale-button {
  position: absolute;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  background: var(--main-color);
  padding: 1em 4em;
  margin: 0 auto;
  width: 100%;
}
.sale-button:hover {
  background: #1c4550; 
}
.sale-button::after {
  content: "Visit our Store";
  position: absolute;
  left: 14em;
  visibility: hidden;
  transition: ease-out 0.4s;
}
.sale-button:hover::after {
    visibility: visible;
    left: 17em;
}
/*Popular products section */

.popular-products-section {
  margin: 1.6em 8em 0em 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*Jacket display grid */

.jackets-outer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4em;
}

/*Jacket display box */

.jackets-inner-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: #fff;
  height: 30em;
  width: 20em;
  border:var(--main-color) 1px solid;
  padding: 1em;
}
.jacket-inner-grid-backside:hover {
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
.jacket-inner-grid-backside {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  inset: 0;
  background: #95a1a5b0; 
}
.jacket-photo {
  height: 20em;
}
.jacket-button {
  color: #fff;
  font-size: 1.3rem;
  width: 100%;
  background: var(--main-color);
  padding: 0.5em 1em;
  /*border-radius: 10px;*/
}
.jacket-button:hover {
  background:#1c4550;
}

/*------------- Footer----------------- */
footer {
  margin: 3em;
  height: 40em;
  border-top: 1px solid var(--main-color);
}

@media only screen and (max-width: 1000px) {
  .jackets-outer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  nav, .search-menu, .sale-button::after {
    display: none;
    }
  .logo {
      left: 2em;
    }
  .hamburger-menu {
    display: block;
    width: 2em;
  }
  .hamburger-menu:hover > .hamburger-menu ul  {
    display: block;
  }
  .jackets-outer-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}